<footer class="bg-vnpt text-white footer-thin mt-auto">
    <div class="container-fluid px-4">
        <div class="d-flex justify-content-between align-items-center">
            <div class="text-start">
                <strong>VNPT An Giang &copy; 2026</strong> 
                <span class="mx-2">|</span>
                <i class="bi bi-geo-alt"></i> Số 25 Điện Biên Phủ, TP. Long Xuyên, An Giang
            </div>
            <div class="text-end text-white-50">
                Hệ thống giám sát mạng lưới <span class="mx-1">|</span> Dev by Đàm Thanh Phong
            </div>
        </div>
    </div>
</footer>


<script>
 
</script>