<nav class="navbar navbar-expand-lg bg-vnpt navbar-dark shadow-sm">
    <div class="container-fluid px-4">
        <a class="navbar-brand" href="/" title="Về trang chủ">
            <img src="/images/Mini logo.png" alt="VNPT Logo" height="38" class="bg-white rounded-circle p-1 shadow-sm">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <% if (typeof user !=='undefined' && user) { %>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" role="button"
                            data-bs-toggle="dropdown"><i class="bi bi-activity"></i> Giám sát và Báo cáo</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/baocao/suco"><i
                                        class="bi bi-exclamation-triangle text-danger"></i> Cảnh báo sự cố</a></li>
                            <li><a class="dropdown-item" href="/baocao/lichsu"><i class="bi bi-journal-text"></i> Lịch
                                    sử báo cáo</a></li>
                        </ul>
                    </li>
                    <% if (typeof user !=='undefined' && user && (user.vai_tro_id===1 || user.vai_tro_id===2)) { %>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" href="#" role="button"
                                data-bs-toggle="dropdown">
                                <i class="bi bi-hdd-network"></i> Quản lý hạ tầng
                            </a>
                            <ul class="dropdown-menu shadow-sm border-0 mt-2">
                                <li><a class="dropdown-item" href="/quanly/vitri"><i class="bi bi-geo-alt"></i> Điểm kết
                                        nối</a></li>
                                <li><a class="dropdown-item" href="/quanly/splitter"><i class="bi bi-hdd-rack"></i> Tủ
                                        PON</a></li>
                                <li><a class="dropdown-item" href="/quanly/goicuoc"><i class="bi bi-wifi"></i> Gói
                                        cước</a></li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" href="/quanly/taikhoan"><i class="bi bi-people"></i>
                                            Quản lý tài khoản</a></li>
                                    <% } %>
                            </ul>
                        </li>

                        <% } %>
            </ul>

            <ul class="navbar-nav ms-3 mb-2 mb-lg-0">
                <% if (typeof user !=='undefined' && user) { %>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white fw-bold active" href="#" role="button"
                            data-bs-toggle="dropdown">
                            <i class="bi bi-person-circle"></i>
                            <%= user.ho_ten %>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" href="/taikhoan/hoso"><i class="bi bi-person-badge"></i> Hồ sơ
                                    cá nhân</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item text-danger" href="/dangxuat"><i
                                        class="bi bi-box-arrow-right"></i> Đăng xuất</a></li>
                        </ul>
                    </li>
                    <% } else { %>
                        <li class="nav-item">
                            <a href="/dangnhap" class="btn btn-light text-primary fw-bold px-4 rounded-pill shadow-sm">
                                <i class="bi bi-box-arrow-in-right"></i> ĐĂNG NHẬP
                            </a>
                        </li>
                        <% } %>
            </ul>
        </div>
    </div>
</nav>